@import "_vars";

.note-card {
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1rem;

  &:hover {
    cursor: pointer;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }

  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .tag-wrapper {
      display: flex;
      gap: 5px;

      & .tag {
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 0.5rem;
        background-color: $primary-color;
        color: white;
        font-weight: 700;
      }
    }
  }
}