@import "_button";
@import "_input";
@import "_textarea";
@import "_card";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  color: black;
  font-family: 'Raleway', sans-serif;

  & a {
    text-decoration: none;
  }
}

.app {
  height: 100%;
  margin: 2rem;
}